body {
    color: #444;
    background: #FAFBFB;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Layout */

.doc-title {
    height: 120px;
    line-height: 120px;
    padding-left: 70px;
    font-size: 36px;
}

article {
    width: 80%;
    margin: 0 auto;

    flex: 1;
    display: flex;
    flex-direction: row;
}

article aside {
    width: 180px;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-top: 10px;
    padding-left: 15px;

    background: #FCFDFF;

    border-radius: 4px 0 0 4px;
    box-shadow: 0 0 3px #ccc;
}

article main {
    flex: 1;
    padding: 25px;

    background: white;

    border-radius: 4px;
    box-shadow: 0 0 3px #ccc;
}

article header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}

article header .section-title {
    text-align: center;
    font-size: 36px;
    padding-bottom: 25px;
}

/* Links */

a {
    text-decoration: none;
    color: #3498db;
}

/* Content */

.content {
    font-size: 16px;
    font-weight: 400;
}

.content p code,
.content li code,
.content .codex-docstring code {
    font-size: 16px;
    background: #f0f0f0;
}

.content > *, .content blockquote > * {
    margin-bottom: 25px;
}

.content h1 {
    font-size: 36px;

    margin-top: 36px;
    padding-bottom: 10px;

    border-bottom: 1px solid #eee;
}

.content h2 {
    font-size: 28px;

    margin-top: 28px;
    padding-bottom: 8px;

    border-bottom: 1px solid #eee;
}

.content h3 {
    font-size: 24px;

    margin-top: 24px;
}

.content h4 {
    font-size: 20px;

    margin-top: 20;
}

.content h5 {
    font-size: 1em;

    margin-top: 18px;
}

.content h6 {
    font-size: 1em;

    margin-top: 18px;
}

.content ul li, .content ol li, .content dl dd {
    margin-left: 30px;
}

.content dl dt {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    padding: 6px;
    min-width: 100px;
}

tr:first-child td {
    text-align: center;
    font-weight: bold;

    border-bottom: 1px solid #ccc;
}

blockquote {
    padding-left: 40px;
    border-left: 2px solid #ccc;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Table of Contents */

.toc li {
    list-style-type: none;
}

.toc a {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}

/* Footer */

footer {
}

footer .info {
    font-size: 16px;

    height: 100px;
    line-height: 100px;
    text-align: center;
}
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Common style for documentation nodes */

/* Layout */

.codex-doc-node > * {
    margin-top: 20px;
}

.codex-slot > dd > * {
    margin-bottom: 10px;
}

.codex-lambda-list, .codex-type-def {
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
    font-size: 15px;
}

/* Style */

.codex-doc-node {
    border-left: 5px solid;
    display: block;
    padding: 0 15px 15px 15px;
}

.codex-name {
    font-weight: bold;
    font-size: 16px;
}


/* Class and struct option and slot option table styling */

.codex-class-struct-slot-option-node {
    display: block;
    margin: 15px;
    align-items: flex-start;
    padding: 0px 15px 15px 15px;
}

.codex-class-struct-slot-option-table {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    padding: 5px 5px 5px 5px;
}

.codex-class-struct-slot-option-row {
}

.codex-class-struct-slot-option-label-cell {
    font-style: italic;
}

.codex-class-struct-slot-option-value-cell {
}

.codex-class-struct-slot-option-symbol-list-cell {
}

/* Documentation node colors */

.codex-function {
    border-left-color: rgba(77, 119, 203, 0.7);
}

.codex-macro {
    border-left-color: rgba(153, 51, 204, 0.7);;
}

.codex-generic-function {
    border-left-color: rgba(46, 83, 157, 0.7);
}

.codex-method {
    border-left-color: rgba(46, 83, 157, 0.7);
}

.codex-class {
    border-left-color: rgba(224, 153, 82, 0.7);
}

.codex-defconstructor {
    border-left-color: rgba(255, 93, 64, 0.7);
}

.codex-type {
    border-left-color: rgba(102, 234, 135, 0.7);
}
